* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

body {
  
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.navigation-list__item {
  color: black;
}

.navigation-list__item:hover, a:focus {
cursor: pointer;
color: gray;
}

.navigation-list {
  list-style-type: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  flex: 1 1 100px;
}

.page-header {
  display: flex;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
  color: black;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.pokedex {
  width: 800px;
  display: block;
  margin: 10px;
  width: 50%;
  border-radius: 8px;
  border: 2px solid rgb(221, 221, 221);
}

.myflix {
  width: 800px;
  display: block;
  margin: 10px;
  width: 50%;
  border-radius: 8px;
  border: 2px solid rgb(221, 221, 221);
}

.chat {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px; 
  border-radius: 8px;
  border: 2px solid rgb(221, 221, 221)
}

form {
  text-align: center;

}

.button {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  margin: 4px;
  font-size: 14px;
  border: 2px solid black
}

.button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  border: 2px solid black
}

.contact-page {
  height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


